body,
html,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea,
th,
td{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	color: #11449e;
	font-size: 14px;
	min-width: 1024px;
	font-family: "微软雅黑";
}

header #head{
	width: 100%;
	height: 80px;
	background: -webkit-linear-gradient(#c5d4e7, #ffffff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#c5d4e7, #ffffff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#c5d4e7, #ffffff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#c5d4e7, #ffffff); /* 标准的语法 */
}

header #head #logo{
	width: 1024px;
	height: 80px;
	margin: 0 auto;
}

header #choose{
	width: 100%;
	height: 40px;
	margin-top: 15px;
	line-height: 40px;
	background-color: #cbdbf1;
}

header #choose #chooseCon{
	width: 1024px;
	text-align: center;
	margin: 0 auto;
}

header #choose #chooseCon select{
	width: 180px;
	height: 25px;
	margin-right: 20px;
}

/*设置年级选择框宽度小一点*/
header #choose #chooseCon #grade{
	width: 120px;
}

#container{
	width: 1024px;
	overflow: hidden;/*超出隐藏,清除浮动*/
	margin: 10px auto 0;
}

#title{
	height: 60px;
	color: #11449e;
	font-family: "微软雅黑";
	border-bottom: 1px solid #000;
}

/*书单1*/
#title #title_left{
	float: left;
	width: 680px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;/*书单*/
	margin-top: 10px;
	margin-left: 30px;
	display: block;
	color: #11449e;
	font-weight: bold;
	font-family: "微软雅黑";
	border: none;
}

/*书单1编辑后*/
#title .title_left_after{
	border: 1px solid #000;
	padding-left: 8px;
}

#title #title_right{
	float: right;
	margin: 10px 30px 0 0;
}

/*编辑，返回*/
#title #title_right .edit,#title #title_right .back{
	height: 30px;
	padding-left: 20px;
	line-height: 30px;
	cursor: pointer;
	border: 1px solid black;
	background-color: buttonface;
}

/*编辑*/
#title #title_right .edit{
	float: left;
	width: 120px;

	margin-right: 20px;
}

#title #title_right .back{
	float: right;
	width: 50px;
}

/*书架*/
#bookShelf{
	width: 850px;
	margin: 0 auto;
	color: #11449e;
	font-family: "微软雅黑";
	font-size: 16px;
}

#bookShelf .bookInfo{
	height: 100px;
	line-height: 100px;
	padding-left: 45px;
	border-bottom: 1px solid #000;
}

/*文本框*/
#bookShelf .bookInfo input{
	height: 25px;
	font-size: 14px;
	font-family: '微软雅黑';
	margin-right: 35px;
}

/*书名*/
#bookShelf .bookInfo .bookName{
	width: 300px;
}

/*价格、折后价*/
#bookShelf .bookInfo .bookPrice,#bookShelf .bookInfo .bookDiscount{
	width:60px;
}

/*D_addBook_edit.php里面的删除样式*/
#bookShelf .bookInfo .delete{
	font-size: 14px;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: buttonface;
	border: 1px solid #000;
	cursor: pointer;
	margin-right: 0;
}



/*添加、删除*/
#container #add,
#container #delete{
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	border: 1px solid #000;
	cursor: pointer;
	background-color: buttonface;
}

#container #add,#container #delete,#container #sure{
	color: #11449e;
	font-size: 16px;
	font-family: "微软雅黑";
}
/*添加*/
#container #add{
	width: 50px;
	margin: 30px 30px 0 120px;
}

#container #delete{
	width: 150px;
	margin-top: 30px;
}

/*保存*/
#container #sure{
	float: left;
	width: 50px;
	height: 30px;
	margin: 30px 0 30px 20px;
	cursor: pointer;
}

/*D_addBook_enit*/
#container #title .back a{
	text-decoration: none;
	color: #11449e;
}

footer span{
	display: block;
	width: 1024px;
	text-align: center;
	font-size: 14px;
	font-family: '微软雅黑';
	color: #11449e;
	margin: 10px auto 0;
}
